<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Singleton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>123AD17C1F6902A900002FC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123AD1951F6902AA00002FC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123AD1A01F6902AA00002FC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
